samples/complex-math-service/src/main/resources/ComplexMathService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://interpreter.xbaya.airavata.apache.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://interpreter.xbaya.airavata.apache.org">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="unqualified" targetNamespace="http://interpreter.xbaya.airavata.apache.org">
            <xs:element name="multiplier">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="param1" type="xs:int"/>
                        <xs:element minOccurs="0" name="param2" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="multiplierResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="adder">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="param1" type="xs:int"/>
                        <xs:element minOccurs="0" name="param2" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="adderResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="adderRequest">
        <wsdl:part name="parameters" element="ns:adder"/>
    </wsdl:message>
    <wsdl:message name="adderResponse">
        <wsdl:part name="parameters" element="ns:adderResponse"/>
    </wsdl:message>
    <wsdl:message name="multiplierRequest">
        <wsdl:part name="parameters" element="ns:multiplier"/>
    </wsdl:message>
    <wsdl:message name="multiplierResponse">
        <wsdl:part name="parameters" element="ns:multiplierResponse"/>
    </wsdl:message>
    <wsdl:portType name="ComplexMathServicePortType">
        <wsdl:operation name="adder">
            <wsdl:input message="ns:adderRequest" wsaw:Action="urn:adder"/>
            <wsdl:output message="ns:adderResponse" wsaw:Action="urn:adderResponse"/>
        </wsdl:operation>
        <wsdl:operation name="multiplier">
            <wsdl:input message="ns:multiplierRequest" wsaw:Action="urn:multiplier"/>
            <wsdl:output message="ns:multiplierResponse" wsaw:Action="urn:multiplierResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ComplexMathServiceSoap11Binding" type="ns:ComplexMathServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="adder">
            <soap:operation soapAction="urn:adder" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="multiplier">
            <soap:operation soapAction="urn:multiplier" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ComplexMathServiceSoap12Binding" type="ns:ComplexMathServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="adder">
            <soap12:operation soapAction="urn:adder" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="multiplier">
            <soap12:operation soapAction="urn:multiplier" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ComplexMathServiceHttpBinding" type="ns:ComplexMathServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="adder">
            <http:operation location="ComplexMathService/adder"/>
            <wsdl:input>
                <mime:content type="text/xml" part="adder"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="adder"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="multiplier">
            <http:operation location="ComplexMathService/multiplier"/>
            <wsdl:input>
                <mime:content type="text/xml" part="multiplier"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="multiplier"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ComplexMathService">
        <wsdl:port name="ComplexMathServiceHttpSoap11Endpoint" binding="ns:ComplexMathServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/ComplexMathService.ComplexMathServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ComplexMathServiceHttpSoap12Endpoint" binding="ns:ComplexMathServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/ComplexMathService.ComplexMathServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ComplexMathServiceHttpEndpoint" binding="ns:ComplexMathServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/ComplexMathService.ComplexMathServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>