0.2-incubating-SNAPSHOT/modules/xbaya-gui/src/main/resources/wsdls/TestCMD_Example1_AWSDL.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--Licensed to the Apache Software Foundation (ASF) under one or more contributor license agreements. See the NOTICE file 
	distributed with this work for additional information regarding copyright ownership. The ASF licenses this file to you under 
	the Apache License, Version 2.0 (theÃ "License"); you may not use this file except in compliance with the License. You may 
	obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 Unless required by applicable law or agreed to 
	in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF 
	ANY ~ KIND, either express or implied. See the License for the specific language governing permissions and limitations under 
	the License. -->

<wsdl:definitions name="TestCMD_Example1" targetNamespace="http://www.extreme.indiana.edu/lead"
	xmlns:typens="http://www.extreme.indiana.edu/lead/TestCMD_Example1/xsd" xmlns:wsdlns="http://www.extreme.indiana.edu/lead"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<schema elementFormDefault="unqualified" targetNamespace="http://www.extreme.indiana.edu/lead/TestCMD_Example1/xsd"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<element name="Run_InputParams" type="typens:Run_InputParamsType" />
			<complexType name="Run_InputParamsType">
				<sequence>
					<element name="InputParam1" type="xsd:int">
						<annotation>
							<documentation>An input parameter</documentation>
						</annotation>
					</element>
				</sequence>
			</complexType>
			<element name="Run_OutputParams" type="typens:Run_OutputParamsType" />
			<complexType name="Run_OutputParamsType">
				<sequence>
					<element name="OutputParam1" type="xsd:string">
						<annotation>
							<documentation>An output parameter</documentation>
						</annotation>
					</element>
				</sequence>
			</complexType>
		</schema>
	</wsdl:types>
	<wsdl:message name="Run_RequestMessage">
		<wsdl:part name="parameters" element="typens:Run_InputParams" />
	</wsdl:message>
	<wsdl:message name="Run_ResponseMessage">
		<wsdl:part name="parameters" element="typens:Run_OutputParams" />
	</wsdl:message>
	<wsdl:portType name="TestCMD_Example1">
		<wsdl:documentation />
		<wsdl:operation name="Run">
			<wsdl:documentation>Run the service</wsdl:documentation>
			<wsdl:input name="Run_RequestMessage" message="wsdlns:Run_RequestMessage" />
			<wsdl:output name="Run_ResponseMessage" message="wsdlns:Run_ResponseMessage" />
		</wsdl:operation>
	</wsdl:portType>
	<n:factoryServices xmlns:n="http://www.extreme.indiana.edu/namespaces/2004/01/gFac">
		<n:factoryService location="http://rainier.extreme.indiana.edu:12345" operation="n:CreateService"
			portType="n:GenericFactory" />
	</n:factoryServices>
</wsdl:definitions>
